<header class="header">
  <img class="logo" src="{{ site.baseurl }}/static/img/logo.jpg" alt="logo"/>
  <nav class="menu">
    {% for menu in site.menu -%}
    <a href="{{ site.baseurl }}{{ menu.url }}" class="hover-underline">{{ menu.title }}</a>
    {% endfor -%}
  </nav>

  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?7da9a60f04e0591d033f7d0d5c4bc14d";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
  </script>   
</header>
